In [70]:
#교통사고
#1) 데이터는 pandas형식으로 전환하기
import pandas as pd
ac = pd.read_csv('acci.csv', engine='python')
ac.head()

   도로종류      시간대  사고건수  사망자수  부상자수   중상    경상  부상신고
0  일반국도  00시-02시   878    87  1428  481   894    53
1  일반국도  02시-04시   535    51   820  273   502    45
2  일반국도  04시-06시   554    67   876  355   479    42
3  일반국도  06시-08시  1262    85  2180  727  1374    79
4  일반국도  08시-10시  1757    71  3175  993  2062   120

In [68]:
ac.tail()

   도로종류      시간대  사고건수  사망자수  부상자수   중상    경상  부상신고  사망 사망률 사망확률
79   기타  14시-16시  1943    42  2426  735  1520   171  많다  많다   높다
80   기타  16시-18시  2242    56  2820  876  1766   178  많다  많다   높다
81   기타  18시-20시  2228    50  2746  768  1779   199  많다  많다   높다
82   기타  20시-22시  1610    22  1964  529  1287   148  많다  많다   높다
83   기타  22시-24시  1256    10  1577  437  1031   109  많다  많다   높다

In [71]:
#2) Binning 수행하여 컬럼 추가하기
group_names = ['높다','보통','낮다']
ac['사망확률'],mybin = pd.cut(ac['사망자수']/ac['부상자수'],3,labels=group_names,retbins=True)
ac

    도로종류      시간대  사고건수  사망자수  부상자수   중상    경상  부상신고 사망확률
0   일반국도  00시-02시   878    87  1428  481   894    53   보통
1   일반국도  02시-04시   535    51   820  273   502    45   보통
2   일반국도  04시-06시   554    67   876  355   479    42   낮다
3   일반국도  06시-08시  1262    85  2180  727  1374    79   보통
4   일반국도  08시-10시  1757    71  3175  993  2062   120   높다
..   ...      ...   ...   ...   ...  ...   ...   ...  ...
79    기타  14시-16시  1943    42  2426  735  1520   171   높다
80    기타  16시-18시  2242    56  2820  876  1766   178   높다
81    기타  18시-20시  2228    50  2746  768  1779   199   높다
82    기타  20시-22시  1610    22  1964  529  1287   148   높다
83    기타  22시-24시  1256    10  1577  437  1031   109   높다

[84 rows x 9 columns]

In [73]:
#3) get_dummies()함수를 활용하여 컬럼 추가하기
ac = pd.concat([ac, pd.get_dummies(ac['사망확률'])],axis=1,sort=False)
ac

    도로종류      시간대  사고건수  사망자수  부상자수   중상    경상  부상신고 사망확률  높다  보통  낮다
0   일반국도  00시-02시   878    87  1428  481   894    53   보통   0   1   0
1   일반국도  02시-04시   535    51   820  273   502    45   보통   0   1   0
2   일반국도  04시-06시   554    67   876  355   479    42   낮다   0   0   1
3   일반국도  06시-08시  1262    85  2180  727  1374    79   보통   0   1   0
4   일반국도  08시-10시  1757    71  3175  993  2062   120   높다   1   0   0
..   ...      ...   ...   ...   ...  ...   ...   ...  ...  ..  ..  ..
79    기타  14시-16시  1943    42  2426  735  1520   171   높다   1   0   0
80    기타  16시-18시  2242    56  2820  876  1766   178   높다   1   0   0
81    기타  18시-20시  2228    50  2746  768  1779   199   높다   1   0   0
82    기타  20시-22시  1610    22  1964  529  1287   148   높다   1   0   0
83    기타  22시-24시  1256    10  1577  437  1031   109   높다   1   0   0

[84 rows x 12 columns]

In [74]:
#4) NaN데이터가 있는지 확인하고 있다면 삭제 또는 평균을 구하여 대체하고 데이터프레임 업데이트하기

ac.isnull().sum() #각 컬럼별로 NaN갯수 확인

도로종류    0
시간대     0
사고건수    0
사망자수    0
부상자수    0
중상      0
경상      0
부상신고    0
사망확률    0
높다      0
보통      0
낮다      0
dtype: int64

In [75]:
#5) 인공지능 적용을 위해 모든 컬럼에 정규화(Normalization)을 적용[min-max]
ac['사고건수'] = (ac['사고건수']-ac['사고건수'].min())/(ac['사고건수'].max()- ac['사고건수'].min())
ac

    도로종류      시간대      사고건수  사망자수  부상자수   중상    경상  부상신고 사망확률  높다  보통  낮다
0   일반국도  00시-02시  0.077173    87  1428  481   894    53   보통   0   1   0
1   일반국도  02시-04시  0.043367    51   820  273   502    45   보통   0   1   0
2   일반국도  04시-06시  0.045240    67   876  355   479    42   낮다   0   0   1
3   일반국도  06시-08시  0.115021    85  2180  727  1374    79   보통   0   1   0
4   일반국도  08시-10시  0.163808    71  3175  993  2062   120   높다   1   0   0
..   ...      ...       ...   ...   ...  ...   ...   ...  ...  ..  ..  ..
79    기타  14시-16시  0.182141    42  2426  735  1520   171   높다   1   0   0
80    기타  16시-18시  0.211610    56  2820  876  1766   178   높다   1   0   0
81    기타  18시-20시  0.210231    50  2746  768  1779   199   높다   1   0   0
82    기타  20시-22시  0.149320    22  1964  529  1287   148   높다   1   0   0
83    기타  22시-24시  0.114429    10  1577  437  1031   109   높다   1   0   0

[84 rows x 12 columns]

In [81]:
#6) 결과를 3가지의 인공지능 모델에 적용하여 정확도(Accuracy)를 구하시오
# 결정트리
ac_feature = ac[['사고건수','사망자수','부상자수']]
feature = np.array(ac_feature)
ac_names = ac['사망확률']
names = np.array(ac_names)
X = feature
y = names

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.5)

from sklearn import tree
clf = tree.DecisionTreeClassifier()
clf.fit(X_train, y_train)
predictions = clf.predict(X_test)
print('예측:\n', predictions)
print('정답(y_test):\n', y_test)

from sklearn.metrics import accuracy_score
print(accuracy_score(y_test, predictions))

예측:
 ['높다' '높다' '높다' '높다' '높다' '높다' '낮다' '높다' '높다' '높다' '높다' '높다' '보통' '높다'
 '보통' '높다' '높다' '높다' '낮다' '높다' '높다' '낮다' '높다' '높다' '높다' '높다' '높다' '높다'
 '높다' '높다' '높다' '높다' '높다' '높다' '높다' '높다' '높다' '높다' '보통' '높다' '높다' '높다']
정답(y_test):
 ['높다' '높다' '높다' '높다' '높다' '높다' '보통' '높다' '높다' '높다' '높다' '높다' '높다' '높다'
 '낮다' '높다' '높다' '높다' '높다' '높다' '높다' '낮다' '높다' '보통' '높다' '높다' '보통' '높다'
 '높다' '보통' '높다' '높다' '높다' '높다' '높다' '높다' '높다' '높다' '보통' '높다' '높다' '높다']
0.8333333333333334

In [82]:
# K 최근접 이웃
ac_feature = ac[['사고건수','사망자수','부상자수']]
feature = np.array(ac_feature)
ac_names = ac['사망확률']
names = np.array(ac_names)
X = feature
y = names

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.5)

from sklearn.neighbors import KNeighborsClassifier
clf = KNeighborsClassifier()
clf.fit(X_train, y_train)
predictions = clf.predict(X_test)
print('예측:\n', predictions)
print('정답(y_test):\n', y_test)

from sklearn.metrics import accuracy_score
print(accuracy_score(y_test, predictions))

예측:
 ['높다' '높다' '높다' '높다' '높다' '높다' '보통' '보통' '높다' '높다' '높다' '높다' '높다' '높다'
 '높다' '높다' '높다' '높다' '보통' '높다' '높다' '높다' '낮다' '높다' '높다' '높다' '높다' '높다'
 '보통' '높다' '보통' '높다' '높다' '높다' '높다' '높다' '높다' '높다' '높다' '보통' '높다' '높다']
정답(y_test):
 ['높다' '보통' '높다' '높다' '높다' '보통' '낮다' '높다' '높다' '높다' '높다' '높다' '보통' '높다'
 '높다' '높다' '높다' '높다' '높다' '높다' '높다' '높다' '높다' '높다' '높다' '높다' '높다' '높다'
 '보통' '높다' '보통' '보통' '높다' '높다' '낮다' '높다' '높다' '높다' '높다' '보통' '높다' '높다']
0.7857142857142857

In [83]:
# 서포트 벡터 머신
ac_feature = ac[['사고건수','사망자수','부상자수']]
feature = np.array(ac_feature)
ac_names = ac['사망확률']
names = np.array(ac_names)
X = feature
y = names

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.5)

from sklearn import svm
clf = svm.SVC(gamma=0.001, C=100.)
clf.fit(X_train, y_train)
predictions = clf.predict(X_test)
print('예측:\n', predictions)
print('정답(y_test):\n', y_test)

from sklearn.metrics import accuracy_score
print(accuracy_score(y_test, predictions))

예측:
 ['높다' '높다' '높다' '높다' '높다' '높다' '높다' '보통' '높다' '높다' '높다' '높다' '높다' '높다'
 '높다' '높다' '보통' '높다' '높다' '높다' '높다' '보통' '높다' '보통' '높다' '높다' '높다' '높다'
 '높다' '높다' '보통' '높다' '높다' '높다' '높다' '높다' '높다' '높다' '높다' '높다' '높다' '높다']
정답(y_test):
 ['높다' '높다' '높다' '높다' '높다' '보통' '보통' '낮다' '높다' '높다' '높다' '높다' '높다' '높다'
 '높다' '높다' '보통' '낮다' '높다' '높다' '보통' '보통' '보통' '높다' '높다' '낮다' '높다' '높다'
 '높다' '높다' '보통' '높다' '높다' '높다' '높다' '높다' '높다' '높다' '높다' '보통' '높다' '낮다']
0.7619047619047619